{% extends 'base.html' %}
{% block title %} Inicio - Bienvenidos {% endblock %}
{% block content %}
<p><a>MISION</a></p>
<p>Trabajar siempre en la calidad de nuestros productos, manteniendo un alto acabo y atractivo diseño en cada uno ellos.</p>

<br>
<p><a>VISION</a></p>
<p>Posicionarnos como la empresa numero uno a nivel nacional en la producción y distribución de muebles finos y de alta calidad</p>

<br>
<a><p>VALORES </p></a>
<p>
    Compromiso
  <br>  Dedicación
  <br>  Esfuerzo
  <br>  Responsabilidad
</p>
{% endblock %}
